<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#{@title}</title>
    <?rb if @description ?>
    <meta name="description" content="#{@description}">
    <?rb end ?>
    <?rb if @keywords ?>
    <meta name="keywords" content="#{@keywords}">
    <?rb end ?>
    <?rb if @favicon ?>
    <link rel="shortcun icon" href="#{@favicon}">
    <?rb end ?>

    <?rb @stylesheets.each do |sheet| ?>
    <link rel="stylesheet" type="text/css" href="#{sheet}">
    <?rb end ?>

    <?rb @javascripts.each do |script| ?>
    <script src="#{script}" ></script>
    <?rb end ?>
    #{ @head }
  </head>

<body>
#{ @body }
</body>
</html>
